/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
body {
  font-family: Arial, sans-serif;
  background-color: #e598f5;
  color: #211515;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.App {
  max-width: 600px;
  width: 100%;
  padding: 20px;
}

.home {
  background: #87b7ec;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(174, 183, 168, 0.1);
}

h1 {
  color: #e0e3e4;
  text-align: center;
}

.add-task-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-task-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.add-task-form button {
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: rgb(252, 240, 240);
  border-radius: 4px;
  cursor: pointer;
}

.add-task-form button:hover {
  background-color: #45a049;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.delete-button {
  background-color: #d02a0c;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c0392b;
}

.search-bar {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}
